MONGODB_URI= # Add your MongoDB URL here
MONGODB_DB= # Add your Database Name here
CLARITY_KEY= # Add your Clarity Key here
G_TAG= # Add your Google Analytics Tag here
MAIL_HOST= # Add your Mail Host here
MAIL_USER= # Add your Mail User here
MAIL_PASS= # Add your Mail Password here
MAIL_FROM= # Add your Mail From address here
MAIL_TO= # Add your Mail To address here
MANAGER_BACKEND_URL= # Add your Manager Backend URL here
NEXT_PUBLIC_TURNSTILE_SITE_KEY= # Add your Turnstile Site Key here
TURNSTILE_SECRET_KEY= # Add your Turnstile Secret Key here
ENV= # Add your Environment (development/production) here